<div class="h-screen flex items-center justify-center bg-gray-100">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="shadow-md rounded-md p-5 bg-white w-2/5">
    @for (error of errors; track error) {
      <div class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px-4 py-2 rounded-md relative">
        <div class="text-xs-p-2" *ngFor="let err of errors">{{ err.description }}</div>
      </div>      
    }
    <!-- Header -->
    <div class="py-4">
      <h1 class="py-2 font-bold text-left">Register</h1>
      <h6 class="text-slate-600 text-base">Create your account</h6>
    </div>

    <!-- Email -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <!-- Full Name -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full Name" formControlName="fullName" />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="Confirm Password" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
        {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}               
      </mat-icon>
      <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch') 
                  && registerForm.get('confirmPassword')?.dirty 
                  && registerForm.get('confirmPassword')?.touched">
  Passwords do not match.
</mat-error>
    </mat-form-field>

    <!-- Roles -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of roles$ | async" [value]="role.name">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>groups</mat-icon>
    </mat-form-field>    

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="!registerForm.valid"
      class="w-full border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-purple-700 text-white font-bold"
    >
      Register
    </button>

    <!-- Redirect Link -->
    <div class="my-5">
      <span class="text-slate-600">Already have an account?</span>
      <a class="text-purple-700" [routerLink]="['/login']">Login</a>
    </div>

  </form>
</div>
